

/* GLOBAL VARIABLES */
:root {
  --heaviest-visual: rgb(49, 47, 47);
  --heavy-visual: rgb(94, 92, 92);
  --medium-visual: rgb(131, 126, 126);
  --light-visual: rgb(189, 184, 184);
  --verylight-visual: white;
  --normal-font: 16px;
}

/* RESET SETTINGS */

 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  



/* #region  Main Navbar */




.main_navbar{
  margin:0;
  box-sizing: border-box;
  padding: 0px;
  width:100vw;
  background-color: var(--heaviest-visual);
  background-size: contain;
  height: 205px ;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;  
}

.nav_elements{ 
list-style: none;
background-color: var(--light-visual);
}



/* #endregion  Main Navbar*/

.block_one,
.block_two
 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--heavy-visual);
    border: 1px solid black;
    width: 100%;
    height: 400px;
}

.first,
.second {
    font-size: 2em;
    color: white;
    font-weight: 900;
    
}
.block_zero {
    position: absolute;
    top: 215px;
    font-size: 1.5em;
    font-weight: 800;
    color: white;
    text-align: center;
}

.white_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 400px;
}
.one {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: rgb(56, 54, 54);
    font-weight: 700;
    border: 1px solid black;
    width: 33.33%;
    height: 400px;
}
/* #region  Red & White Block */

.red_white_row{
  display: grid;
  grid-template-columns: 2fr 1fr 355px;
  grid-template-rows: 692px;
  margin-right: 10px;
  margin-left:10px;
  grid-gap: 5px;
  
}


.red_card-lg{
  grid-area: 1fr;
  background-color: var(--heavy-visual);
  border-radius: 10px;
}

.white_card-small{
  grid-area: 1fr;
  background-color: var(--verylight-visual);
  text-align: center;
  position: relative;
  
  
 
}

/* #endregion */


.white_red_row{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 692px;
  margin-right: 10px;
  margin-left:10px;
  grid-gap: 10px;
  
}
.white_gap{
    background-color: var(--verylight-visual);
    width: 100%;
    height: 80px;
}

.white_card-small >div{
  position:absolute;
  top:10px;
  text-align: justify;
  padding:35px;
  background-color: var(--light-visual);
  margin:16px;
  height:350px;
  border-radius: 10px;

}

